{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'Authenticate/Auth_style.css'%}">
  <title>Page d'Acccueil</title>

</head>
<body>
  <header>
    <h1>LITReview</h1>
    <p>{{ message }}</p>
  </header>
  <div class="auth_block">
  <div class="login_block">
    <form method="post">

      {{ form.as_p }}
      <input type="submit" value="Se connecter">
      {% csrf_token %}
    </form>
 </div>
  <div class="sign_up_block">
    <h2>Inscrivez-vous maintenant</h2>
    <form method="get" action="/auth/signup/">
      <input type="submit" value="S'inscrire">    <!---send to signuppage.html-->
    </form>
  </div>
  </div>
</body>
</html>
