<!-- TODO: edit page
for full_post in full_posts:
  if full_post.is_closed:
    print(ticket + review)
   else:
    print(ticket)
-->

{% extends 'base.html'%}
{% block content%}
{% load static %}
<h1>flux</h1>
<div class="creation_buton">
  <form method="get">
    <button type="submit" formaction="/blog/ticket_creation">demander une critique</button>
    <button type="submit" formaction="/blog/review_creation">ecrire une critique</button>
  </form>
</div>
<ul>
  {% for post in posts %}
  <li>
    <div class="content">
      {% if post.closed %}
        <div class="review">
          <h3>{{post.review.headline}}</h3>
          <p>{{postreview.body}}</p>
          <p>{{post.review.rating}} &#9733</p>
          <p>Rewiew posted by {{post.review.user.username}}, {{post.review.time_created}}</p>
            <div class="ticket">
              <h4>{{post.ticket.title}}</h4>
              <p>{{post.ticket.description}}</p>
              <img src="{{post.ticket.image.url }}" alt="My image">
              <p>Ticket posted by {{post.ticket.user.username}}, {{post.ticket.time_created}}</p>
          </div>
        </div>

      {% else %}
        <div class="ticket">
          <h4>{{post.ticket.title}}</h4>
          <p>{{post.ticket.description}}</p>
          <img src="{{post.ticket.image.url }}" alt="My image">
          <p>Ticket posted by {{post.ticket.user.username}}, {{post.ticket.time_created}}</p>
          <form method="get">
          <button type="submit" value="reply" formaction="/blog/ticket/{{post.ticket.id}}/reply">reply</button>
        </form>
        </div>

      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
