{% extends 'base.html'%}
{% block content%}
{% load static %}
<div>
  <h1>flux</h1>
  <div class="creation_buton">
    <form method="get">
      <button type="submit" formaction="/blog/ticket_creation">demander une critique</button>
      <button type="submit" formaction="/blog/review_creation">ecrire une critique</button>
    </form>
  </div>
  <div id="contentlist">
    {% for content in contentlist %}
    <div class="contentblock">
      {% if content.title %}
      <div class="ticket">
        <h5 class="ticket_title">{{content.title}}</h5>
        <p class="ticketdescription">{{content.description}}</p>
        {% if content.image %}
        <img src="{{content.image.url}}" alt="">
        {% endif %}
        {% if not content.is_closed %}
        <form action="" method="get" class="button">
          <button type="submit" value="reply" formaction="/blog/ticket/{{content.id}}/reply/">reply</button>
          </form>
        {% endif %}
      </div>
      {% else %}
      <div class="review">
        <h5 class="review_headline">{{content.headline}}</h5>
        <p class="review_rating">{{content.rating}}</p>
        <p class="reviewbody">{{content.body}}</p>
        {% if content.ticket %}
        <div class="ticket">
          <h5 class="ticket_title">{{content.ticket.title}}</h5>
          <p class="ticketdescription">{{content.ticket.description}}</p>
          {% if content.ticket.image %}
          <img src="{{content.ticket.image.url}}" alt="">
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
